<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swl.tvlibrary">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application >

        <meta-data
            android:name="design_width"
            android:value="1920" />
        <meta-data
            android:name="design_height"
            android:value="1080" />

    </application>

</manifest>
